<% layout('layouts/boilerplate')%> 
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
type="text/css"
/>
<link rel="stylesheet" href="/style/locationSearch.css">
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

<link rel="stylesheet" href="/style/editHike.css">

<div class="row mt-5">
    <h1 class="text-center">Edit Recreation</h1>
    <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">

        <form action="/hikes/<%= hike._id%>?_method=PUT" method="POST" novalidate id="hikeForm" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title*</label>
                <input class="form-control shadow-none" type="text" id="title" name="hike[title]" value="<%= hike.title%>" maxlength="100" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="pass">Pass</label>
                <select class="form-select shadow-none" id="pass" name="hike[pass]">
                    <% for(let pass of passes) { %>
                        <% if(pass == hike.pass) { %>  
                             <option value="<%=pass%>" selected><%=pass%></option>
                        <% } else { %> -->
                            <option value="<%=pass%>"><%=pass%></option>
                        <% } %>
                    <% } %> 
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="fee">Fee</label>
                <input class="form-control shadow-none" type="number" id="fee" name="hike[fee]" value="<%= hike.fee%>" min="0" max="1000">
            </div>

            <div class="row mb-3">
                <h2 class="label-custom">Facilities</h2>
                <div class="col-6">
                        <div class="mb-3">
                            <input class="form-check-input shadow-none facility" type="checkbox" id="beachAccess" <% if(hike.facilities.beachAccess) { %> checked <% } %>>
                            <label class="form-check-label" for="beachAccess">Beach access</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none facility" type="checkbox" id="picnicArea"
                            <% if(hike.facilities.picnicArea) { %> checked <% } %>>
                            <label class="form-check-label" for="picnicArea">Picnic Area</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none facility" type="checkbox" id="barbeque"
                            <% if(hike.facilities.barbeque) { %> checked <% } %>>
                            <label class="form-check-label" for="barbeque">Barbeque</label>
                        </div>
                </div>
                <div class="col-6">
                        <div class="mb-3">
                            <input class="form-check-input shadow-none facility" type="checkbox" id="noPets" <% if(hike.facilities.noPets) { %> checked <% } %>>
                            <label class="form-check-label" for="noPets">No Pets</label>
                        </div>
                </div>
            </div>

            <div class="row mb-3">
                <h2 class="label-custom">Activities</h2>
                <% for(let activity of activities) { %> 
                    <div class="col-xxl-3 col-lg-4 col-6 py-1">
                        <input class="form-check-input shadow-none" type="checkbox" id="<%=activity.replace(/\s/g,'')%>" name="hike[activities]" value="<%=activity%>" <% if(hike.activities.includes(activity)) { %> checked <% }%>  >
                        <label class="form-check-label" for="<%=activity.replace(/\s/g,'')%>"><%=activity%></label>
                    </div>
                <% } %> 
            </div>
            <div class="row">
                <div class="mb-3">
                    <label class="form-label" for="restrooms">Restrooms</label>
                    <select class="form-select shadow-none" id="restrooms" name="hike[facilities][restrooms]">
                        <% for(let restroom of restrooms) { %>
                            <option value="<%=restroom%>" 
                                <% if(restroom == hike.facilities.restrooms) { %> selected <% } %>><%=restroom%></option>
                        <% } %> 
                    </select>
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                
                <textarea class="form-control shadow-none textarea-fit" type="text" id="description" name="hike[description]" maxlength="1000"><%= hike.description%></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location*</label>
                <div id="geocoder" class="geocoder"></div> 
                <input class="form-control shadow-none" type="text" id="location" name="hike[location]" value="<%= hike.location%>" maxlength="100"  hidden required>
                <div class="invalid-feedback">
                    Address must be in Washington state.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div id="location-map" class="mt-3"></div> 
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Add Photos</label>
                <input class="form-control shadow-none" type="file" name="image" id="images" accept=".jpeg, .jpg, .png" multiple>
                <div class="invalid-feedback">
                    You can upload up to 5 images, each file must be at most 3MB (.jpg, .jpeg, .png only).
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <% hike.images.forEach(function(image,i) { %> 
                     <div class="img-wrap">

                        <% if(currentUser && (currentUser.admin || (image.owner) && (image.owner.equals(currentUser._id)))) { %>
                            <span class="close">&times;</span>
                        <% } %> 

                        <img src="<%=image.thumbnail%>" class="" alt="">
                            <input class="btn-check delete-image shadow-none" type="checkbox" id="img_<%=i%>" name="deleteImages[]" value="<%=image.filename%>" autocomplete="off">
                    </div>
                    <% }) %> 
            </div>

            <div class="row mb-3">
                <div class="col-md-6 mb-3">
                    <div class="d-grid">
                        <button class="btn btn-success btn-primary-custom shadow-none" id="saveBtn">Save Changes</button>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="d-grid">
                        <a class="btn btn-secondary" href="/hikes/<%= hike._id%>" id="cancelLink">Cancel</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    const hike = <%- JSON.stringify(hike) %>;
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
</script>

<script src="/script/dom.js"></script>
<script src="/script/textareaFitContent.js"></script>
<script src="/script/facility.js"></script>
<script src="/script/mapEditLocation.js"></script>
<script src="/script/hikeValidation.js"></script>
