<% layout('layouts/boilerplate')%> 

<link rel="stylesheet" href="/style/editHike.css">

<div class="row mt-5">
    <h1 class="text-center">Edit Hike</h1>
    <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">

        <form action="/hikes/<%= hike._id%>?_method=PUT" method="POST" novalidate id="hikeForm" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control shadow-none" type="text" id="title" name="hike[title]" value="<%= hike.title%>" maxlength="100" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="pass">Pass</label>
                <select class="form-select shadow-none" id="pass" name="hike[pass]">
                    <% for(let pass of passes) { %>
                        <% if(pass == hike.pass) { %>  
                             <option value="<%=pass%>" selected><%=pass%></option>
                        <% } else { %> -->
                            <option value="<%=pass%>"><%=pass%></option>
                        <% } %>
                    <% } %> 
                </select>
            </div>

            <div class="row">
                <label class="form-label mb-3">Facilities</label>
                    <div class="col-4">
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="typeHike" name="facility[trail]" 
                            <% if(hike.facilities.trail) { %> checked <% } %>>
                            <label class="form-check-label" for="typeHike">Trail</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="typePark" name="facility[park]"
                            <% if(hike.facilities.park) { %> checked <% } %>>
                            <label class="form-check-label" for="typePark">Park</label>
                        </div>
                </div>
                <div class="col-4">
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="beach" name="facility[beachAccess]"
                            <% if(hike.facilities.beachAccess) { %> checked <% } %>>
                            <label class="form-check-label" for="beach">Beach access</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="picnic" name="facility[picnicArea]"
                            <% if(hike.facilities.picnicArea) { %> checked <% } %>>
                            <label class="form-check-label" for="picnic">Picnic Area</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="barbeque" name="facility[barbeque]"
                            <% if(hike.facilities.barbeque) { %> checked <% } %>>
                            <label class="form-check-label" for="barbeque">Barbeque</label>
                        </div>
                </div>
                <div class="col-4">
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="children" name="facility[childrenPlayground]"
                            <% if(hike.facilities.childrenPlayground) { %> checked <% } %>>
                            <label class="form-check-label" for="children">Children Playground</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="dogs" name="facility[dogsAllowed]" 
                            <% if(hike.facilities.dogsAllowed) { %> checked <% } %>>
                            <label class="form-check-label" for="dogs">Dogs are allowed</label>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label class="form-label" for="restrooms">Restrooms</label>
                    <select class="form-select shadow-none" id="restrooms" name="facility[restrooms]">
                        <% for(let restroom of restrooms) { %>
                            <option value="<%=restroom%>" 
                                <% if(restroom == hike.facilities.restrooms) { %> selected <% } %>><%=restroom%></option>
                        <% } %> 
                    </select>
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                
                <textarea class="form-control shadow-none textarea-fit" type="text" id="description" name="hike[description]" maxlength="1000" required><%= hike.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control shadow-none" type="text" id="location" name="hike[location]" value="<%= hike.location%>" maxlength="100" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Add Photos</label>
                <input class="form-control shadow-none" type="file" name="image" id="images" accept=".jpeg, .jpg, .png" multiple>
                <div class="invalid-feedback">
                    You can upload no more than 2 images (.jpg, .jpeg, .png only).
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <% hike.images.forEach(function(image,i) { %> 
                     <div class="img-wrap d-inline-block">
                        <img src="<%=image.thumbnail%>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input class="btn-check delete-image shadow-none" type="checkbox" id="img_<%=i%>" name="deleteImages[]" value="<%=image.filename%>" autocomplete="off">
                        </div>
                        <label class="btn btn-dark close" for="img_<%=i%>">Delete</label>
                    </div>
                    <% }) %> 
            </div>
            <div class="row mb-3">
                <div class="col-md-6 mb-3">
                    <div class="d-grid">
                        <button class="btn btn-success btn-primary-custom shadow-none">Save Changes</button>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="d-grid">
                        <a class="btn btn-secondary" href="/hikes/<%= hike._id%>">Cancel</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<script src="/script/textareaFitContent.js"></script>
<script src="/script/hikeValidation.js"></script>