<% layout('layouts/boilerplate')%> 

<div id="cluster-map"></div>
<!-- <div class="row my-5 mx-5">
    <div class="col-md-6 form-check">
        <input class="form-check-input weather-filter" type="checkbox" id="cloudCheck" value="Cloud" checked>
        <label class="form-check-label" for="cloudCheck">Cloud</label>
    </div>
    <div class="col-md-6 form-check">
        <input class="form-check-input weather-filter" type="checkbox" id="rainCheck" value="Rain" checked>
        <label class="form-check-label" for="rainCheck">Rain</label>
    </div>
</div> -->
<div class="row">
        <form class="row mt-5" action="/hikes" method="GET">
            <div class="col-md-8 mb-5">
                <h3 class="mb-3">
                    Weather Conditions
                </h3>
                <div class="row">
                    <% for(let condition of conditions) { %> 
                    <div class="col-lg-3 col-4">
                        <label class="colored-checkbox-lbl"><%=condition%>
                            <input class="form-check-input colored-checkbox" type="checkbox" id="<%=condition%>" name="conditionFilter" value="<%=condition%>" <% if(filter.conditions.includes(condition)) { %> checked <% }%>  >
                            <span class="checkmark checkmark-blue"></span>
                        </label>
                        <!-- <label class="form-check-label" for="<%=condition%>"><%=condition%> </label> -->
                    </div>
                <% } %> 
                </div>
                               
            </div>
            <div class="col-md-4 mb-5">
                <div class="row mb-3">
                    <h3 class="mb-3">
                        Forecast Day
                    </h3>
                    <div>
                        <input type="date" class="form-control shadow-none" id="date-filter" name="date" placeholder="Seattle WA" aria-label="Weather forecast day" required>
                    </div> 
                </div>
                <div class="row mb-3">
                    <h3 class="mb-3">
                        Location
                    </h3>
                    <div class="col-8">
                        <input type="text" class="form-control shadow-none" id="location-filter" name="location" placeholder="Seattle WA" value="<%=filter.location%> " aria-label="Location">
                    </div>
        
                    <div class="col-4">
                          <select class="form-select shadow-none" id="distance-filter" name="distance" aria-label="Distance from location">
                            <option value="10">10 miles</option>
                            <option value="50">50 miles</option>
                            <option value="100">100 miles</option>
                            <option value="250">250 miles</option>
                          </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <button type="submit" class="btn btn-primary shadow-none btn-primary-custom">Find Hikes</button>
                    </div>
                </div>
            </div>
        </form>
</div>
<div class="row mt-5">
    <div class="col-lg-12">
        <div>

        <h1 class="text-center">
            <% if(hikes.length === 0) {%>
                No hikes found.
            <% } else {%>
                Hikes within <%=filter.distance%> miles from <%=filter.location%>  
            <% }%>
        </h1>

        <div id="row-hike" class="row mt-5">
        <!-- <% for(let column = 0; column < 3; column++) {%>
        
            <div class="col-lg-4 col-md-6 col-hike">
                <% for(let i = column; i < hikes.length; i=i+3) {%>
            
                <div class="card mb-3">
        
                    <% if(hikes[i].images.length) {%> 
                    <img class="img-fluid" src="<%= hikes[i].images[0].url%>" alt="">
                    <% } else {%>
                        <img class="img-fluid" src="" alt="">
                    <% } %> 
        
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= hikes[i].title%>
                        </h5>
                        <p class="card-text">
                            <%= hikes[i].description.substring(0,200)%>...
                        </p>
                        <p class="card-text">
                            <small class="text-muted"><%= hikes[i].location%></small>
                        </p>
                        <div class="d-grid gap-2">
                            <a class="btn btn-primary shadow-none btn-primary-custom" href="/hikes/<%= hikes[i]._id%>">Show Details 
                            </a>
                        </div>
                    </div>
        
                </div>
                <% }%> 
        
            </div>
        <% }%>  -->
        </div>
        
        <nav id="pageNav" class="mt-5">
            <ul id="pageButtons" class="pagination justify-content-center">
              <li id="previousBtn" class="page-item">
                <a class="page-link page-link-custom" tabindex="-1">Previous</a>
              </li>
              <li id="nextBtn" class="page-item">
                <a class="page-link page-link-custom">Next</a>
              </li>
            </ul>
        </nav>
        
    </div>
</div>
</div>


<script>
    const distance = <%-filter.distance%>;
    const long = <%-filter.long%>;
    const lat = <%-filter.lat%>;
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
    const hikes = {features: <%- JSON.stringify(hikes) %>}
    const forecastDay = '<%-filter.forecastDay%>'
</script>
<script src="/script/dom.js"></script>
<script src="/script/hikes.js"></script>
<script src="/script/clusterMap.js"></script>
