<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/style/stars.css">

<div class="row mt-5">
    <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">
        <div class="row mb-5">
            <div class="col-8">
                <h1 class="mb-3"><%= hike.title%></h1>
            </div>
            <div class="col-4 text-end">
                <% if(currentUser && (currentUser.admin || hike.owner.equals(currentUser._id))) { %>
                    <form class="d-inline" action="/hikes/<%= hike._id%>?_method=DELETE" method="POST">
                        <div class="row">
                        <div class="col-md-6 d-grid px-1 py-1">
                                <a href="/hikes/<%= hike._id%>/edit" class="card-link btn btn-secondary btn-primary-custom" id="editLink">Edit</a>
                        </div>
                        <div class="col-md-6 d-grid px-1 py-1">
                                <button id="delete-hike-btn" class="btn btn-danger btn-danger-custom shadow-none" id="deleteBtn">Delete</button>
                        </div>
                        </div> 
                    </form>
                <% } %> 
            </div>
            <p>Pass: <%= hike.pass%></p>
        </div>
        
        <section class="mb-5">
            <h2 class="mb-3">Photos</h2>
            <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">

                    <li data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"></li>
                    <% for(let i = 1; i < hike.images.length; i++){%> 
                        <li data-bs-target="#carouselExampleControls" data-bs-slide-to=<%=i%>></li>
                    <% } %> 
                </ol>
                <div id="carouselBack" class="carousel-inner">
                    <% if(hike.images.length === 0) {%>
                        <div class="carouselItem carousel-item active">
                            <img src="https://res.cloudinary.com/dlpn4rtaa/image/upload/v1610948282/YelpHike/noImage_h2tqne.png" class="d-block h-100 mx-auto" alt="" >
                        </div>
                    <% } %>  
                    <% hike.images.forEach((image, i)=>{%> 
                  <div class="carouselItem carousel-item <%= i === 0 ? 'active' : ''%> ">
                    <img src="<%= image.url%>" class="d-block h-100 mx-auto" alt="" >
                  </div>
                  <% }) %> 
                </div>
                <% if(hike.images.length > 1) { %> 
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon color-" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
                <% } %> 
            </div>

        </section>

        <section class="mb-5">
            <h2 class="mb-3">Information</h2>
            <div class="row my-3">
                <h3 class="mb-3">Facilities</h3>
                <p>
                    <% if(hike.facilities.beachAccess) { %> <span>Beach access, </span> <% } %> 
                    <% if(hike.facilities.picnicArea) { %> <span>Picnic Area, </span> <% } %>
                    <% if(hike.facilities.barbeque) { %> <span>Barbeque, </span> <% } %>
                    <% if(hike.facilities.noPets) { %> <span>No pets, </span> <% } else { %> 
                    <span>Pets are allowed, </span> <% } %>
                    <span>Restrooms: <%=hike.facilities.restrooms%> </span>
                </p>
            </div>
            <div class="row my-3">
                <h3 class="mb-3">Activities</h3>
                <p>
                <% for(let activity of hike.activities) { %> 
                    <span><%=activity%>, </span>
                <% } %>
                </p>
            </div>

            <p class="multiline-text"><%= hike.description%></p>
        </section>

        <section class="mb-5">
            <h2 class="mb-3">Directions</h2>
            <p><%= hike.location%></p>
            <div id='hike-map'></div>
        </section>

        <section class="mb-5">
            <h2 class="mb-3">Weather</h2>
            <% if(hike.weather.length > 0) { %>
                <% let tomorrow =  new Date()%>
                <% tomorrow.setDate(tomorrow.getDate() + 1) %> 
                <div class="row">
                    <% for (let weather of hike.weather) { %> 
                    <div class="col-lg-3 col-md-4 col-6 border">
                        <div class="row text-center mt-2">
                            <% if(new Date(weather.day).toDateString() == (new Date().toDateString())) { %> <p>Today</p>
                            <% } else if(new Date(weather.day).toDateString() == (tomorrow.toDateString())) {  %>
                            <p>Tomorrow</p>
                            <% } else { %> 
                            <p><%= new Date(weather.day).toDateString().split(' ')[0]%></p>
                            <% }   %>
                                 
                        </div>
                        <div class="row text-center">
                            <div class="col-12">
                                <img src="/images/weather/<%=weather.icon%>.png" alt>
                            </div>
                        </div>
                        <div class="row text-center">
                            <p><%= weather.temperature.min%>&deg;F / <%= weather.temperature.max%>&deg;F</p>
                        </div>
                        <div class="row text-center">
                            <p><%= weather.description%></p>
                        </div>
                    </div>
                    <%  } %> 
                </div>
            <% } else {%> 
                    <p>There is no weather forecast yet.</p>
            <% }%>  

        </section>

        <section class="mb-5">
            <h2 class="mb-3">Reviews</h2>
            <% for(let review of hike.reviews) {%> 
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <p class="starability-result" data-rating="<%=review.rating %>">
                                    Rated: <%=review.rating %> stars
                                    </p>
                            </div>
                            <div class="col-6 text-end">
                                <p class="card-text"><%=review.formatDate %></p>
                            </div>
                        </div>
                        <h5 class="card-title"><%=review.owner.username %></h5>
                        <p class="card-text multiline-text"><%=review.body %></p>
                        <%  if( currentUser && (currentUser.admin || review.owner.equals(currentUser._id)))  {%>
                        <form action="/hikes/<%=hike._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger btn-danger-custom shadow-none delete-review-btn" onclick="deleteReview">Delete</button>
                        </form>
                        <% } %> 
                    </div>
                </div>
            <% } %>
            <% if(hike.reviews.length === 0) { %> 
                <p>There are no reviews yet.</p>
            <% } else {%>  
                <nav id="pageNav" class="mt-5">
                    <ul id="pageButtons" class="pagination justify-content-center">
                    <li id="previousBtn" class="page-item">
                        <a class="page-link page-link-custom" href="/hikes/<%=hike._id%>?page=<%= previousPage%>" tabindex="-1">Previous</a>
                    </li>
                    <li id="nextBtn" class="page-item">
                        <a class="page-link page-link-custom" href="/hikes/<%=hike._id%>?page=<%=nextPage%>">Next</a>
                    </li>
                    </ul>
                </nav>
            <% } %> 

        </section>

        <section>
            <h2 class="mb-3">Leave a Review</h2>
            <% if(currentUser){ %> 
                
                <form action="/hikes/<%=hike._id%>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
                    <div class="mb-3">
                        <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="body">Comment:</label>
                        <textarea class="form-control shadow-none textarea-fit" name="review[body]" id="body" maxlength="1000" required></textarea>
                        <div class="valid-feedback">
                        Looks good!
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-success btn-primary-custom shadow-none" id="addReviewBtn">Submit</button>
                    </div>
                </form>
            <% } else {%> 
                <p>You need to be logged in to leave a review.</p>
            <% }%> 

        </section>

    </div>

</div>

<script>
    const previousPage = <%-previousPage%>;
    const nextPage = <%-nextPage%>;
    const path = '/hikes/<%-hike._id%>?page=';
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const hike = <%- JSON.stringify(hike) %>
</script>
<script src="/script/textareaFitContent.js"></script>
<script src="/script/mapShowPage.js"></script>
<script src="/script/loadMore.js"></script>
<script src="/script/editConfirmation.js"></script>